Repository mwkim0919/EZ, pull requests merged in 2018-11, with the labels that each got.

#1 [Devop] travis-ci integration
  .travis.yml
  backend/pom.xml
  frontend/yarn.lock
Labels: Devop

#4 [BE] schedule functionality
  backend/build
  backend/scripts/gitpush.py
  backend/scripts/jacoco_coverage.py
  backend/scripts/pom_xml_parser.py
  backend/src/main/java/com/ez/ezbackend/EzBackendApplication.java
  backend/src/main/java/com/ez/ezbackend/budget/entity/Schedule.java
  backend/src/main/java/com/ez/ezbackend/budget/entity/Transaction.java
  backend/src/main/java/com/ez/ezbackend/budget/enums/RecurringPattern.java
  backend/src/main/java/com/ez/ezbackend/budget/enums/TransactionType.java
  backend/src/main/java/com/ez/ezbackend/budget/repository/ScheduleRepository.java
  backend/src/main/java/com/ez/ezbackend/budget/request/ScheduleRequest.java
  backend/src/main/java/com/ez/ezbackend/budget/request/TransactionRequest.java
  backend/src/main/java/com/ez/ezbackend/budget/service/ScheduleService.java
  backend/src/main/java/com/ez/ezbackend/budget/service/ScheduleServiceImpl.java
  backend/src/main/java/com/ez/ezbackend/budget/service/TransactionServiceImpl.java
  backend/src/main/java/com/ez/ezbackend/shared/controller/AuthenticationController.java
  backend/src/main/java/com/ez/ezbackend/shared/service/UserServiceImpl.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/ez/ezbackend/budget/entity/ScheduleTest.java
  backend/src/test/java/com/ez/ezbackend/budget/request/CategoryRequestTest.java
  backend/src/test/java/com/ez/ezbackend/budget/request/ScheduleRequestTest.java
  backend/src/test/java/com/ez/ezbackend/budget/request/TransactionRequestTest.java
  backend/src/test/java/com/ez/ezbackend/budget/service/CategoryServiceTest.java
  backend/src/test/java/com/ez/ezbackend/budget/service/ScheduleServiceTest.java
  backend/src/test/java/com/ez/ezbackend/budget/service/TransactionServiceTest.java
  backend/src/test/java/com/ez/ezbackend/shared/controller/AuthenticationControllerTest.java
  backend/src/test/java/com/ez/ezbackend/shared/service/UserAuthenticationTest.java
  backend/src/test/java/com/ez/ezbackend/shared/service/UserServiceTest.java
Labels: Backend

#7 [FE] action & reducer tests
  frontend/package.json
  frontend/src/__test__/add.test.ts
  frontend/src/__test__/add.ts
  frontend/src/actions/budget.ts
  frontend/src/actions/test/auth.test.ts
  frontend/src/actions/test/budget.test.ts
  frontend/src/actions/test/todos.test.ts
  frontend/src/reducers/budget.ts
  frontend/src/reducers/test/budget.test.ts
  frontend/yarn.lock
Labels: Frontend

#8 [quickfix] fixing error response format
  backend/src/main/java/com/ez/ezbackend/shared/exception/EzExceptionHandler.java
  backend/src/main/java/com/ez/ezbackend/shared/security/JwtAuthenticationEntryPoint.java
Labels: Backend

#10 Delete update transaction
  frontend/src/actions/budget.ts
  frontend/src/actions/test/budget.test.ts
  frontend/src/actions/test/todos.test.ts
  frontend/src/components/Budget/TransactionForm.tsx
  frontend/src/components/Budget/TransactionItem.tsx
  frontend/src/components/Budget/TransactionList.tsx
  frontend/src/constants/budget.ts
  frontend/src/index.tsx
  frontend/src/reducers/budget.ts
  frontend/src/sagas/auth.ts
  frontend/src/selectors/index.ts
  frontend/src/types/budget.ts
  frontend/src/types/index.ts
Labels: Frontend

#15 [devop] codecov integration
  .travis.yml
  README.md
Labels: Devop

#12 Be schedule endpoints
  backend/.gitignore
  backend/src/main/java/com/ez/ezbackend/budget/controller/ScheduleController.java
  backend/src/main/java/com/ez/ezbackend/budget/enums/RecurringPattern.java
  backend/src/main/java/com/ez/ezbackend/budget/repository/ScheduleRepository.java
  backend/src/main/java/com/ez/ezbackend/budget/request/ScheduleRequest.java
  backend/src/main/java/com/ez/ezbackend/budget/response/ScheduleResponse.java
  backend/src/main/java/com/ez/ezbackend/budget/service/ScheduleService.java
  backend/src/main/java/com/ez/ezbackend/budget/service/ScheduleServiceImpl.java
  backend/src/main/java/com/ez/ezbackend/shared/enums/DefaultCategory.java
  backend/src/main/java/com/ez/ezbackend/shared/enums/UserRole.java
  backend/src/main/java/com/ez/ezbackend/shared/service/UserAuthenticationService.java
  backend/src/main/java/com/ez/ezbackend/shared/service/UserServiceImpl.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/ez/ezbackend/budget/controller/ScheduleControllerTest.java
  backend/src/test/java/com/ez/ezbackend/budget/response/ScheduleResponseTest.java
  backend/src/test/java/com/ez/ezbackend/budget/service/CategoryServiceTest.java
  backend/src/test/java/com/ez/ezbackend/budget/service/ScheduleServiceTest.java
  codecov.yml
  frontend/package.json
  frontend/src/actions/budget.ts
  frontend/src/components/Budget/Schedule/ScheduleForm.tsx
  frontend/src/components/Budget/Schedule/ScheduleSection.tsx
  frontend/src/components/Budget/Transaction/TransactionForm.tsx
  frontend/src/components/Budget/Transaction/TransactionItem.tsx
  frontend/src/components/Button/index.tsx
  frontend/src/constants/budget.ts
  frontend/src/constants/planner.ts
  frontend/src/containers/Dashboard.tsx
  frontend/src/containers/EZBudget/CategorySectionContainer.tsx
  frontend/src/containers/EZBudget/ScheduleSectionContainer.tsx
  frontend/src/containers/EZBudget/TransactionHomeContainer.tsx
  frontend/src/containers/EZBudget/TransactionListContainer.tsx
  frontend/src/containers/EZBudget/index.tsx
  frontend/src/containers/EZPlanner/index.tsx
  frontend/src/containers/EZTodo/TodoHeader.ts
  frontend/src/containers/EZTodo/TodoList.ts
  frontend/src/containers/EZTodo/index.tsx
  frontend/src/containers/FallbackRoute.tsx
  frontend/src/containers/Hello.tsx
  frontend/src/containers/Login.tsx
  frontend/src/containers/Navbar/index.tsx
  frontend/src/containers/SignUp.tsx
  frontend/src/helpers/localStorage.ts
  frontend/src/index.tsx
  frontend/src/reducers/budget.ts
  frontend/src/routes.tsx
  frontend/src/selectors/index.ts
  frontend/src/setupTests.ts
  frontend/src/types/budget.ts
  frontend/src/types/index.ts
  frontend/src/utils/ramda.ts
  frontend/src/views/EZBudget/index.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: Backend, Frontend

#16 [FE] adding loading icon and fixing chart colors
  frontend/package.json
  frontend/src/components/Budget/Transaction/TransactionHome.tsx
  frontend/src/components/Budget/Transaction/TransactionPieChart.tsx
  frontend/src/components/Loader/loader.tsx
  frontend/src/containers/EZBudget/index.tsx
  frontend/src/utils/chartUtil.ts
  frontend/yarn.lock
Labels: Frontend

#17 [FE] Adding filtering functionality in TransactionList
  backend/src/main/resources/data.sql
  backend/src/test/java/com/ez/ezbackend/budget/repository/TransactionRepositoryTest.java
  backend/src/test/java/com/ez/ezbackend/budget/service/TransactionServiceTest.java
  frontend/src/components/Budget/Category/CategoryList.tsx
  frontend/src/components/Budget/Transaction/TransactionItem.tsx
  frontend/src/components/Budget/Transaction/TransactionList.tsx
  frontend/src/components/Todo/TodoItem.tsx
  frontend/src/components/Todo/TodoList.tsx
  frontend/src/containers/EZTodo/TodoList.ts
  frontend/src/containers/SignUp.tsx
  frontend/src/reducers/currentUser.ts
  frontend/src/sagas/auth.ts
  frontend/src/sagas/index.ts
  frontend/src/utils/budgetUtil.ts
  frontend/src/utils/test/budgetUtil.test.ts
Labels: Frontend
